/* src/index.css */

/* ESSENTIEL pour que h-screen fonctionne dans React/Vite */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;